.slick-slider.wpscr_slider {
	background-color: #222;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.slick-slider.wpscr_slider .wpscr_slide {
	position: relative;
}
.slick-slider.wpscr_slider .wpscr_caption {
	color: white;
	padding: 1.5em;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .75);
}
.slick-slider.wpscr_slider .slick-prev:before,
.slick-slider.wpscr_slider .slick-next:before {
	color: #222;
}